{% extends'base.html.twig' %} {% block title %} Bienvenue sur le meilleur de la lunette {% endblock %} {% block header %}
<h2> VOICI le HREADER</h2>
{% endblock %} {% block body %}
<div class="container"></div>
<div class="jumbotron mt-3">
    <h1 class="display-3">Bienvenue sur le Site de BEL'OPTIC : Le roi de la lunette!!!</h1>
    <p class="lead">Nous vous offrons la meilleure vue</p>
    <hr class="my-4">
    <p>vous avez besoin de nouvelles lunettes !!.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" role="button" href="#">voir nos offres</a>
    </p>
</div>
<h2 class="h1 mt-3 mb-4">Nos montures stars</h2>
<div class="row ">
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header text-center">
                la luxe, <strong> 50&euro; sans verres</strong><br>
                <small> Pas encore notee</small>
            </div>
            <img src="http://placehold.it/1000x400" alt="Image de la luxe" style="height: 200px; width: 100%; display: block;">
            <div class="card-body">
                <h4 class="card-title">
                    LUNETTES DE OUFF!!!!
                </h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat iure non iusto enim quos dolores aspernatur eaque, natus eum ex.
                </p>
                <a href="" "" class="btn btn-secondary">en savoir plus</a>
            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header text-center">
                la luxe, <strong> 50&euro; sans verres</strong><br>
                <small> Pas encore notee</small>
            </div>
            <img src="http://placehold.it/1000x400" alt="Image de la luxe" style="height: 200px; width: 100%; display: block;">
            <div class="card-body">
                <h4 class="card-title">
                    LUNETTES DE OUFF!!!!
                </h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat iure non iusto enim quos dolores aspernatur eaque, natus eum ex.
                </p>
                <a href="" "" class="btn btn-secondary">en savoir plus</a>
            </div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header text-center">
                la luxe, <strong> 50&euro; sans verres</strong><br>
                <small> Pas encore notee</small>
            </div>
            <img src="http://placehold.it/1000x400" alt="Image de la luxe" style="height: 200px; width: 100%; display: block;">
            <div class="card-body">
                <h4 class="card-title">
                    LUNETTES DE OUFF!!!!
                </h4>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat iure non iusto enim quos dolores aspernatur eaque, natus eum ex.
                </p>
                <a href="" "" class="btn btn-secondary">en savoir plus</a>
            </div>

        </div>
    </div>
</div>
<h2 class="h1 mt-3 mb-4">Nos partenaires stars !</h2>
<div class="row ">
    <div class="col">
        <div class="card border-secondary mb-3">
            <div class="card-body">
                <h4 class="card-title">Oms Belm</h4>
                <hr>
                <div class="card-text">
                    <img src="http://placehold.it/64x64" alt="Avatar de Oms Belm" class="float-left mr-3">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad illum incidunt nemo vero. Adipisci rem vel explicabo suscipit debitis magni voluptatem, esse pariatur officiis repellendus consequuntur illum reprehenderit voluptates nulla.</p>
                    <a href="é" class="btn btn-success float-right">savoir plus</a>

                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-secondary mb-3">
            <div class="card-body">
                <h4 class="card-title">Bebim Belm</h4>
                <hr>
                <div class="card-text">
                    <img src="http://placehold.it/64x64" alt="Avatar de Oms Belm" class="float-left mr-3">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad illum incidunt nemo vero. Adipisci rem vel explicabo suscipit debitis magni voluptatem, esse pariatur officiis repellendus consequuntur illum reprehenderit voluptates nulla.</p>
                    <a href="é" class="btn btn-success float-right">savoir plus</a>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}